.shadow {
    box-shadow: 0px 0px 20px 2px rgb(0, 0, 0, 0.3);
}

.van-form {
    padding-top: 20px;
    background-color: transparent;
    .van-field {
        background-color: transparent;
    }

}

.van-nav-bar {
    background-color: transparent;

    .van-icon-arrow-left {
        color: black;
    }

    .van-nav-bar__text {
        color: black;
    }
}

//标签
.van-tag {
    font-size: 11px;
    height: 15px;
    margin: 0px 1px;
}


//弹出层
.van-popup {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.information {
    .van-field__error-message {
        color: orange;
    }
}

// .userhead {
//     .userinfo {
//         .status {
//             .van-tag {
//                 font-size: 10px;
//                 height: 10px;
//             }
//         }

//     }
// }

